{% extends 'learning_logs/base.html' %}

{% block page_header %}
 <h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}

    <p><strong>Entries:</strong></p>
   
    {% if entries %}
        <div class="card-group">
            {% for entry in entries %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h5>
                        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn-sm btn-info">Edit</a></small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ entry.text|linebreaks }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no entries for this topic yet.</p>
    {% endif %}

    <hr>
    <div class="d-flex">
        <a href="{% url 'learning_logs:delete_topic' topic.id %}" class="btn btn-danger me-2">Delete Topic</a>
        <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">Add New Entry</a>
    </div>

{% endblock content %}
